#комментарий к файлу .gitignore

#все файлы в каталоге out
out/

#все файлы в каталоге Trash
/Trash

#все class-файлы...
*.class

# добавила Intellij IDEA
Java.iml
/.idea

#все файлы в каткалоге basejava
/basejava

#все файлы в каткалоге codewars
/codewars

#все файлы в каткалоге basejavaNotes
/basejavaNotes